{{> header }}
<div class="top-container">
    <div class="title-container">
        <a>
            <p>{{routerLink "home" "terug"}}</p>
        </a>
        <h3>Kind of ship - Size</h3>
        <p>Date: 21-11-2019</p>
    </div>
    <div class="input-container">
        <button type="button" id="upload" class="hidden">Upload to server</button>
        <button type="button" id="new-simulation" class="hidden">Upload new files</button>
        <button type="button" id="open-upload-container">Upload files</button>
        <div class="upload-container hidden" id="upload-container">
            <div class="upload-container-content">
                <div id="close-upload-container"><img src="../assets/icons/x.svg" /></div>
                <div>
                    <label>Case Data (*.xlsx)</label>
                    <label class="custom-upload">
                        <span id="metadata-input-bg"></span>
                        <p id="metadata-input-label">Bestand kiezen</p>
                        <input type="file" id="metadata-input"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    </label>
                </div>
                <div>
                    <label>Forces Data (*.csv)</label>
                    <label class="custom-upload">
                        <span id="forces-input-bg"></span>
                        <p id="forces-input-label">Bestand kiezen</p>
                        <input type="file" id="forces-input" />
                    </label>
                </div>
                <div>
                    <label>Ship coordinates (*.csv)</label>
                    <label class="custom-upload">
                        <span id="coords-input-bg"></span>
                        <p id="coords-input-label">Bestand kiezen</p>
                        <input type="file" id="coords-input" />
                    </label>
                </div>
                <button type="button" id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<canvas id="simulation-canvas" width="1200" height="800"></canvas>
<div class="video-control-container">
    <div class="video-control">
        <div id="previous"><img src="../assets/icons/forward-solid.svg" style="transform: scaleX(-1);" /></div>
        <div id="play-pause"><img src="../assets/icons/play-solid.svg" /></div>
        <div id="next"><img src="../assets/icons/forward-solid.svg" /></div>
    </div>
    <div class="timeline-container" id="timeline-container">
        <div class="timeline" id="timeline">
            <div id="timeline-progress"></div>
        </div>
    </div>
    <div id="screenshot">
        <img src="../assets/icons/camera.svg" />
    </div>
    <div class="info">
        <label class="fps">FPS: <span id="current-fps"></span> |</label>
        <label>Time: <span id="current-timepoint">0</span>s</label>
    </div>
</div>
<div class="sub-timelines" id="sub-timelines">
    <div class="sub-timeline-container">
        <div class="sub-timeline-container-total">
            <div class="sub-timeline">
                <div class="sub-timeline-title-container" id="sub-timeline-title-container-hawsers">
                    <div class="sub-timeline-title">
                        <p>Hawsers</p>
                    </div>
                    <div class="sub-timeline-titles-hawsers hidden" id="sub-timeline-titles-hawsers">

                    </div>
                </div>
                <div class="sub-timeline-timeline-container">

                    <div class="timeline-progress" id="timeline-progress-hawsers"></div>
                    <div class="sub-timeline-container-content" id="timeline-container-hawsers">
                        <div id="timeline" class="timeline hawsers">
                            <div id="hawser-breakpoints"></div>
                        </div>
                    </div>
                    <div class="sub-timeline-container-content-hawsers hidden"
                        id="sub-timeline-container-content-hawsers">
                        <!-- Imported from JavaScript simulation.js --->
                    </div>
                </div>
                <div class="sub-timeline-icon-container">

                    <div class="sub-timeline-icon">
                        <img id="open-hawsers" class="chevron-icon"
                            src="../assets/icons/chevron-circle-down-solid.svg" />
                    </div>

                </div>
            </div>
            <div class="sub-timeline">
                <div class="sub-timeline-title-container" id="sub-timeline-title-container-fenders">
                    <div class="sub-timeline-title">
                        <p>Fenders</p>
                    </div>
                    <div class="sub-timeline-titles-fenders hidden" id="sub-timeline-titles-fenders">

                    </div>
                </div>
                <div class="sub-timeline-timeline-container">

                    <div class="timeline-progress" id="timeline-progress-fenders"></div>

                    <div class="sub-timeline-container-content" id="timeline-container-fenders">
                        <div id="timeline" class="timeline fenders">
                            <div id="fender-breakpoints"></div>
                        </div>
                    </div>
                    <div class="sub-timeline-container-content-fenders hidden"
                        id="sub-timeline-container-content-fenders">
                        <!-- Imported from JavaScript simulation.js --->
                    </div>
                </div>
                <div class="sub-timeline-icon-container">

                    <div class="sub-timeline-icon">
                        <img id="open-fenders" class="chevron-icon"
                            src="../assets/icons/chevron-circle-down-solid.svg" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="input-control-container">
    <div class="controls-container">
        <div>
            <label>Jump to</label>
            <input type="number" id="timepoint-input" value="0" step="100">
        </div>
        <div>
            <label>Speed: <span id="current-speed"></span></label>
            <input type="number" id="speed-input" value="0">
        </div>
        <div>
            <label>Outline</label>
            <input type="checkbox" id="switch-outline">
        </div>
    </div>
</div>

{{> footer }}